
h1,
p,
div,
h2 {
  background: grey;
  margin: 0;
}

.centered {
  text-align: center;
}

#title {
  font-size: 3rem;
}

#subtitle {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

#content {
  text-decoration: underline;
}

.monospaced {
  font-family: monospace;
}