/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Corrupted CSS below */
/* ------------------- */
body {
  background: #eaeaee;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  max-width: 600;
  margin: 5px 60px; 
  padding: 50px;
}

h1,
h2 {
  font-family: 'Bangers', cursive;
}

.centered {
  text-align: center;
}

.title {
  font-size: 48px;
}

.h2 {
  text-decoration: underline;
}

.content {
  background: white;
  border: 5px;
  margin: 48px;
  padding: 20px;
}

.content ul {
  margin-top: 15px;
  padding-left: 15px;
}

.element {
  list-style-type: square;
}

.second {
  font-weight: bold;
}
